---
import type { OpenPlannerType } from '../type'
import LayoutWithTitle from '../layouts/LayoutWithTitle.astro'
import GenericIcon from '../components/icons/GenericIcon.astro'
import Grid from '../components/ui-elements/Grid.astro'
import Cluster from '../components/ui-elements/Cluster.astro'
import Stack from '../components/ui-elements/Stack.astro'

const OPENPLANNER_URL = import.meta.env.OPENPLANNER_URL
const response = await fetch(OPENPLANNER_URL)
const openPlannerData: OpenPlannerType = await response.json()
---

<LayoutWithTitle
    htmlTitle="SunnyTech Équipe"
    title="Équipe"
    subDescription="Sunny Tech est une assocation bénévole à but non lucratif (loi 1901) créée par des membres actifs de la communauté tech de Montpellier, tous et toutes bénévoles.">
    <Grid space="2rem" min="20rem">
        {
            openPlannerData.team.map((block) => (
                <Cluster space="1.375rem" align="center" nowrap>
                    <img class="photo" src={block.photoUrl} alt="" />
                    <div>
                        <Stack align="flex-start" space="0.5rem">
                            <h2 class="fs2">{block.name}</h2>
                            <ul class="list-inline">
                                {block.socials.map((social) => (
                                    <li class="list-inline-item">
                                        <a
                                            href={social.link}
                                            class="social-icon"
                                            target="_blank"
                                            rel="noopener noreferrer"
                                            aria-label={social.icon}>
                                            <GenericIcon name={social.icon} />
                                        </a>
                                    </li>
                                ))}
                            </ul>
                        </Stack>
                    </div>
                </Cluster>
            ))
        }
    </Grid>
</LayoutWithTitle>

<style>
    .photo {
        border-radius: 50%;
        object-fit: cover;
        box-sizing: border-box;
        width: 10rem;
        height: 10rem;
        aspect-ratio: 1;
        border: 0.625rem solid var(--component);
    }

    .social-icon {
        fill: var(--text-subtle);
        transition: fill var(--animation);

        &:hover {
            fill: var(--brand-solid);
        }
    }
</style>
