---
import Stack from '../ui-elements/Stack.astro'

const footerRelBlock = [
    {
        title: 'A propos',
        links: [
            { name: "Découvrez l'équipe organisatrice", url: '/team', newTab: false },
            { name: 'Code de conduite', url: '/coc', newTab: false },
        ],
    },
    {
        title: 'Voir les éditions antérieures',
        links: [
            { name: 'Sunny Tech 2024', url: 'https://2024.sunny-tech.io', newTab: true },
            { name: 'Sunny Tech 2023', url: 'https://2023.sunny-tech.io', newTab: true },
            { name: 'Sunny Tech 2022', url: 'https://2022.sunny-tech.io', newTab: true },
            { name: 'Sunny Tech 2019', url: 'https://2019.sunny-tech.io', newTab: true },
            { name: 'Sunny Tech 2018', url: 'https://2018.sunny-tech.io', newTab: true },
        ],
    },
]
---

<div class="container">
    {
        footerRelBlock.map((footerRel) => (
            <Stack space="0.675rem">
                <div class="fw-medium fs1">{footerRel.title}</div>
                <ul class="list-unstyled">
                    {footerRel.links.map((link) => (
                        <li>
                            {!link.newTab ? (
                                <a href={link.url}>{link.name}</a>
                            ) : (
                                <a href={link.url} target="_blank" rel="noopener noreferrer">
                                    {link.name}
                                </a>
                            )}
                        </li>
                    ))}
                </ul>
            </Stack>
        ))
    }

    <Stack space="0.675rem">
        <div class="fw-medium fs1">
            <a
                href="https://1485701c.sibforms.com/serve/MUIFAMgB9ZySVOL_x0g-9wEIwg1l1jh6RrSs3xTTnw5ZInV4HRM009fe1mwczAa8HEaB4kJf-sTzkK06jO2RIaxSpuflFWayHm2y5m86PhfcDp1kLA8VYGJozdX8flk6OdewY3pf2aE7Wh54VsDoUbYGxHO_mOXmweUPXeFd3_xK6_6FLN9KTdLWRvWiJ7Ldmbx0tByLixqYWBYu"
                target="_blank">Souscrire</a
            >
        </div>
        <span>Pas de spam, seulement les dernières nouvelles</span>
    </Stack>
</div>

<style>
    .container {
        border-top: 1px solid var(--line);
        border-bottom: 1px solid var(--line);
        padding: 2rem 0;
        color: var(--footer-text-color);
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    li + li {
        margin-block-start: 0.375rem;
    }
</style>
