---
import FooterBlock from '../components/footer/FooterBlock.astro'
import Menu from '../components/Menu.astro'

interface Props {
    title: string
    description?: string
}

const { title, description } = Astro.props
const url = import.meta.env.SITE
const image = url + '/social-share4.jpg'
const titleHtml = title || 'Sunny Tech'
const titleBis = titleHtml || 'Sunny Tech, la conférence Tech organisée à Montpellier'
const descriptionHtml =
    description ||
    'Sunny Tech est la 1ère conférence Tech organisée à Montpellier. Une conférence annuelle des technologies du numérique, créée par des passionnés, pour des passionnés avec l’ambition de rayonner nationalement, et même internationalement, à travers l’intervention de conférencier.e.s français de renom.'
const keywords =
    'sunnytech, évènement, event, montpellier, Sunny, Tech, programming, android, chrome, developers, web, cloud, conférence, seatechandsun, docker, devops, ux, design, back, scala, fonctionnel'

const organizerName = 'Sunny Tech'
const organizerTwitter = '@sunnyTech_MTP'
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link href="manifest.json" rel="manifest" />
        <!-- Add to homescreen for Chrome on Android -->
        <meta content="yes" name="mobile-web-app-capable" />
        <meta name="generator" content={Astro.generator} />

        <!-- fallback for manifest.json -->
        <meta content={titleHtml} name="application-name" />

        <!-- Add to homescreen for Safari on iOS -->
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style" />
        <meta content={titleHtml} name="apple-mobile-web-app-title" />

        <meta content={descriptionHtml} name="description" />
        <meta content={keywords} name="keywords" />
        <meta content={organizerName} name="author" />

        <!-- Facebook sharing meta data -->
        <meta content={titleBis} property="og:title" />
        <meta content={titleHtml} property="og:site_name" />
        <meta content="website" property="og:type" />
        <meta content={url} property="og:url" />
        <meta content={descriptionHtml} property="og:description" />
        <meta content="Event" property="og:type" />
        <meta content={image} property="og:image" />
        <meta content="image/jpeg" property="og:image:type" />

        <!-- Twitter meta data -->
        <meta content="summary_large_image" name="twitter:card" />
        <meta content={organizerTwitter} name="twitter:creator" />
        <meta content={titleHtml} name="twitter:title" />
        <meta content={descriptionHtml} name="twitter:description" />
        <meta content={image} name="twitter:image" />

        <title>{titleBis}</title>
    </head>
    <body>
        <Menu />
        <main>
            <slot />
        </main>

        <FooterBlock />
    </body>
</html>
<style is:global>
    :root {
        --dark-primary-color: #c9424b;
        --default-primary-color: #fb4552;
        --focused-color: #ff5762;
        --light-primary-color: #ff5762;
        --text-primary-color: #ffffff;
        --accent-color: #ff9800;
        --primary-background-color: #ffffff;
        --primary-text-color: #212121;
        --secondary-text-color: #757575;
        --disabled-text-color: #bdbdbd;
        --divider-color: #bdbdbd;
        --footer-background-color: #fb4552;
        --footer-text-color: #ffffff;
        --twitter-color: #4099ff;
        --facebook-color: #3b5998;
        --border-dark-color: #bbbbbb;
        --border-light-color: #e2e2e2;
        --error-color: #e64a19;
        --tertiary-background-color: rgb(247, 247, 247);

        /* Custom */
        --default-background-color: #ffffff;
        --secondary-background-color: #f5f5f5;
        --additional-background-color: #f7f7f7;
        --contrast-additional-background-color: #e8e8e8;
        --animation: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        --slide-animation: 0.4s cubic-bezier(0, 0, 0.2, 1);
        --border-radius: 4px;
        --box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
        --box-shadow-primary-color: 0 3px 3px -2px rgb(251, 69, 82, 0.3), 0 3px 4px 0 rgb(251, 69, 82, 0.3),
            0 1px 8px 0 rgb(251, 69, 82, 0.3);
        --box-shadow-primary-color-hover: 0 1px 3px -2px rgb(251, 69, 82, 0.5), 0 4px 5px 0 rgb(251, 69, 82, 0.5),
            0 2px 9px 0 rgb(251, 69, 82, 0.5);
        --font-family: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, helvetica, arial, sans-serif,
            'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        --max-container-width: 1280px;
        --primary-color-transparent: rgba(183, 105, 58, 0.1);
        --primary-color-light: rgba(183, 105, 58, 0.8);
        --primary-color-white: #ede7f6;

        /* Labels */
        --gde: #3d5afe;
        --wtm: #1de9b6;
        --gdg: #00b0ff;

        /* Tags */
        --architecture: #f4724e;
        --atypique: #5b85aa;
        --backend: #2196f3;
        --general: #bdbdbd;
        --methodologies: #83b692;
        --web-mobile-ui: #654f6f;
        --data: #ef5e68;

        font-family: var(--font-family), sans-serif;
    }

    /*
      Josh's Custom CSS Reset
      https://www.joshwcomeau.com/css/custom-css-reset/
    */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    * {
        margin: 0;
    }
    body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
    }
    img,
    picture,
    video,
    canvas,
    svg {
        display: block;
        max-width: 100%;
        height: auto;
    }
    input,
    button,
    textarea,
    select {
        font: inherit;
    }
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        overflow-wrap: break-word;
    }
    p {
        text-wrap: pretty;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-wrap: balance;
    }
    #root,
    #__next {
        isolation: isolate;
    }
</style>
