---
import { ViewTransitions } from 'astro:transitions'
import FooterBlock from '../components/footer/FooterBlock.astro'
import Menu from '../components/Menu.astro'

interface Props {
    title: string
    description?: string
}

const { title, description } = Astro.props
const url = import.meta.env.SITE
const image = url + '/social-share4.jpg'
const siteName = 'Sunny Tech'
const siteNameWithTagline = 'Sunny Tech, la conférence Tech organisée à Montpellier'
const pageTitle = title || siteName
const fullPageTitle = title ? `${title} | ${siteName}` : siteNameWithTagline
const pageDescription =
    description ||
    'Sunny Tech est la 1ère conférence Tech organisée à Montpellier. Une conférence annuelle des technologies du numérique, créée par des passionnés, pour des passionnés avec l’ambition de rayonner nationalement, et même internationalement, à travers l’intervention de conférencier.e.s français de renom.'
const keywords =
    'sunnytech, évènement, event, montpellier, Sunny, Tech, programming, android, chrome, developers, web, cloud, conférence, seatechandsun, docker, devops, ux, design, back, scala, fonctionnel'

const organizerName = 'Sunny Tech'
const organizerTwitter = '@sunnyTech_MTP'
---

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="robots" content="index, follow" />

        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

        <link href="manifest.json" rel="manifest" />

        <!-- Add to homescreen for Chrome on Android -->
        <meta content="yes" name="mobile-web-app-capable" />
        <meta name="generator" content={Astro.generator} />

        <!-- fallback for manifest.json -->
        <meta content={siteName} name="application-name" />

        <!-- Add to homescreen for Safari on iOS -->
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style" />
        <meta content={siteName} name="apple-mobile-web-app-title" />

        <meta content={pageDescription} name="description" />
        <meta content={keywords} name="keywords" />
        <meta content={organizerName} name="author" />

        <!-- Facebook sharing meta data -->
        <meta content={pageTitle} property="og:title" />
        <meta content={siteNameWithTagline} property="og:site_name" />
        <meta content="website" property="og:type" />
        <meta content={url} property="og:url" />
        <meta content={pageDescription} property="og:description" />
        <meta content="fr" property="og:locale" />
        <meta content={image} property="og:image" />
        <meta content="image/jpeg" property="og:image:type" />

        <!-- Twitter meta data -->
        <meta content="summary_large_image" name="twitter:card" />
        <meta content={organizerTwitter} name="twitter:site" />
        <meta content={pageTitle} name="twitter:title" />
        <meta content={pageDescription} name="twitter:description" />
        <meta content={image} name="twitter:image" />

        <title>{fullPageTitle}</title>

        <ViewTransitions />
    </head>
    <body>
        <a href="#main-content" class="skip-link">Aller au contenu principal</a>
        <Menu />
        <main id="#main-content">
            <slot />
        </main>

        <FooterBlock />
    </body>
</html>
<style is:global>
    :root {
        --white: white;

        --grey-1: #f5f5f5;
        --grey-2: #e2e2e2;
        --grey-3: #bdbdbd;
        --grey-4: #757575;
        --grey-5: #212121;

        --pink-1: #e89399;
        --pink-2: #d63f49;
        --pink-3: #901f26;

        --brand-border: var(--pink-1);
        --brand-solid: var(--pink-2);
        --brand-solid-hover: var(--pink-3);
        --brand-contrast: var(--white);

        --background: var(--white);
        --component: var(--grey-1);
        --line: var(--grey-2);
        --border: var(--grey-3);
        --text-disabled: var(--grey-3);
        --text-subtle: var(--grey-4);
        --text: var(--grey-5);

        --footer-background-color: var(--brand-solid);
        --footer-text-color: var(--brand-contrast);

        --animation: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        --slide-animation: 0.4s cubic-bezier(0, 0, 0.2, 1);
        --border-radius: 0.25rem;
        --font-family: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, helvetica, arial, sans-serif,
            'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        --max-container-width: 1280px;

        /* Spacings */
        --s-3: clamp(0.25rem, calc(0.25rem + 0vw), 0.25rem);
        --s-2: clamp(0.44rem, calc(0.4rem + 0.16vw), 0.5rem);
        --s-1: clamp(0.69rem, calc(0.65rem + 0.16vw), 0.75rem);
        --s0: clamp(0.88rem, calc(0.81rem + 0.33vw), 1rem);
        --s1: clamp(1.31rem, calc(1.21rem + 0.49vw), 1.5rem);
        --s2: clamp(1.75rem, calc(1.62rem + 0.65vw), 2rem);
        --s3: clamp(2.63rem, calc(2.43rem + 0.98vw), 3rem);
        --s4: clamp(3.5rem, calc(3.24rem + 1.31vw), 4rem);
        --s5: clamp(5.25rem, calc(4.86rem + 1.96vw), 6rem);

        /* Font sizes */
        --fs-2: clamp(0.56rem, calc(0.52rem + 0.21vw), 0.64rem);
        --fs-1: clamp(0.7rem, calc(0.65rem + 0.26vw), 0.8rem);
        --fs0: clamp(0.88rem, calc(0.81rem + 0.33vw), 1rem);
        --fs1: clamp(1.09rem, calc(1.01rem + 0.41vw), 1.25rem);
        --fs2: clamp(1.37rem, calc(1.27rem + 0.51vw), 1.56rem);
        --fs3: clamp(1.71rem, calc(1.58rem + 0.64vw), 1.95rem);
        --fs4: clamp(2.14rem, calc(1.98rem + 0.8vw), 2.44rem);
        --fs5: clamp(2.67rem, calc(2.47rem + 1vw), 3.05rem);

        /* Tags */
        --architecture: #f4724e;
        --atypique: #5b85aa;
        --backend: #2196f3;
        --general: #bdbdbd;
        --methodologies: #83b692;
        --web-mobile-ui: #654f6f;
        --data: #ef5e68;

        font-family: var(--font-family), sans-serif;
    }

    /*
      Josh's Custom CSS Reset
      https://www.joshwcomeau.com/css/custom-css-reset/
    */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    * {
        margin: 0;
    }
    body {
        line-height: 1.5;
        font-size: var(--fs0);
        -webkit-font-smoothing: antialiased;
    }
    img,
    picture,
    video,
    canvas,
    svg {
        display: block;
        max-width: 100%;
        height: auto;
    }
    input,
    button,
    textarea,
    select {
        font: inherit;
    }
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        overflow-wrap: break-word;
    }
    p {
        text-wrap: pretty;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-wrap: balance;
    }
    #root,
    #__next {
        isolation: isolate;
    }

    h1 {
        font-size: var(--fs3);
        font-weight: 700;
        line-height: 1.25;

        @media (min-width: 640px) {
            font-size: var(--fs4);
        }
    }

    h2 {
        font-size: var(--fs3);
        font-weight: 500;
        line-height: 1.25;
    }

    h3 {
        font-size: var(--fs2);
        font-weight: 500;
        line-height: 1.25;
    }

    .skip-link {
        position: absolute;
        top: -40px;
        left: 0;
        background: var(--brand-solid);
        padding: 8px;
        z-index: 100;
        color: white;
        text-decoration: none;
        transition: all var(--animation);

        &:focus {
            top: 0;
        }
    }

    /* Utility classes */
    .list-unstyled {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .list-inline {
        padding-left: 0;
        list-style: none;
    }

    .list-inline-item:not(:last-child) {
        margin-right: 0.5rem;
    }

    .list-inline-item {
        display: inline-block;
    }

    .text-uppercase {
        text-transform: uppercase;
    }

    .text-subtle {
        color: var(--text-subtle);
    }

    .fw-regular {
        font-weight: 400;
    }

    .fw-medium {
        font-weight: 500;
    }

    .fw-bold {
        font-weight: 700;
    }

    .fs-1 {
        font-size: var(--fs-1);
    }

    .fs1 {
        font-size: var(--fs1);
    }

    .fs2 {
        font-size: var(--fs2);
    }

    .fs3 {
        font-size: var(--fs3);
    }

    .fs4 {
        font-size: var(--fs4);
    }

    .fs5 {
        font-size: var(--fs5);
    }

    .text-center {
        text-align: center;
    }
</style>
